@using TechGems.PinesUI.Views.Components.PinesTable
@model PinesTable

<div id="@(Model.TableId is not null ? Model.TableId : null)" class="flex flex-col">
    <div class="overflow-x-auto">
        <div class="inline-block min-w-full">
            <div class="overflow-hidden">
                <table>
                    @if (Model.UsesChildContent)
                    {
                        @Model.ChildContent
                    }
                    else
                    {
                        <thead>
                            <tr class="text-neutral-500">
                                @for (int i = 0; i < Model.ColumnList.Count; i++)
                                {
                                    var textOrientation = "text-left";

                                    if (Model.RenderActionColumn && i == Model.ColumnList.Count - 1)
                                    {
                                        textOrientation = "text-right";
                                    }

                                    <th class="px-5 py-3 text-xs font-medium @textOrientation uppercase">
                                        @Model.ColumnList[i].DisplayName
                                    </th>
                                }
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-neutral-200">
                            <tr class="text-neutral-800">
                                @for (int i = 0; i < Model.Data.Count; i++)
                                {
                                    @Html.Raw(Model.GetDataRowHtml(i))
                                }
                                @if(Model.RenderActionColumn)
                                {
                                    @Model.RenderSlot("ActionCell")
                                }
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
